.commonHead {
    margin-bottom: 50px;
    &_tag {
      font-size: 16px;
      font-family: font(md);
      color: color(400);
      margin-bottom: 20px;
      padding-left: 30px;
      letter-spacing: 2px;
      &::before {
        @include absolutecenter(y);
        content: "";
        width: 20px;
        height: 2px;
        background-color: color(400);
        left: 0;
        border-radius: 10px;
      }
    }
    &_title {
      font-size: 2.8125rem;
      font-family: font(mm);
      line-height: 60px;
      color: color(800);
    }
    p {
      color: color(150);
      font-size: 18px;
      line-height: 30px;
    }
    @include media-breakpoint-down(xxl) {
      margin-bottom: 30px;
      &_tag {
        margin-bottom: 10px;
        font-size: 14px;
      }
      &_title {
        font-size: 42px;
        line-height: 50px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    @media (max-width: 1399px){
      &_title {
        font-size: 32px;
        line-height: 40px;
      }
    }
    @include media-breakpoint-down(xl){
      margin-bottom: 20px;
      &_tag {
        font-size: 12px;
      }
      &_title {
        font-size: 26px;
        line-height: 32px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
    @include media-breakpoint-down(md){
      &_tag {
        margin-bottom: 5px;padding-left: 20px;
        &::before{width: 13px;}
      }
      &_title {
        font-size: 22px;
        line-height: normal;
      }
    }
    @include media-breakpoint-down(sm){
      &_title {
        font-size: 18px;
      }
    }
  }