.mostViewed{
    .citiesCard{
        &_img{
            overflow: hidden;
            img{
                @include transition(all 0.5s);
            }
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: calc(100% - 100px);
                bottom: 0;
                left: 0;
                background: linear-gradient(to bottom, rgba(color(900), 0) 50%, rgba(color(900), 0.97) 100%);
                border-radius: 10px;
            }
        }
        &_cont{
            padding: 20px;
            bottom: 0;
            span{
                font-size: 16px;
                margin-bottom: 8px;
                color: color(50);
            }
            p{
                font-size: 1.375rem;
                color: color(50);
                font-family: font(md);
                word-break: break-all;
            }
        }
        &:hover{
            .citiesCard_img{
                img{
                    transform: scale(1.1);
                }
            }
        }
        @include media-breakpoint-down(xxl){
            &_cont {
                p{ font-size: 20px;}
            }
        }
        @include media-breakpoint-down(xl){
            &_cont{
                padding: 15px;
                span{font-size: 14px;}
                p{ font-size: 16px;}
            }
        }
        @include media-breakpoint-down(md){
            &_cont{
                span{font-size: 14px;}
                p{ font-size: 15px;}
            }
        }
        @include media-breakpoint-down(sm){
            &_cont{
                span{font-size: 12px;}
                p{ font-size: 13px;}
            }
        }
    }
}