$datepicker-main-color: color(500);
.bootstrap-datetimepicker-widget {
  @include box-shadow(-1px, 5px, 10px, rgba($color: #34343417, $alpha: 0.09));
  border-radius: 10px;
  overflow: hidden;
}
.datepicker {
  td,
  th {
    height: 35px;
    width: 35px;
  }
  table {
    tr {
      td,
      span {
        &:focus {
          background-color: $datepicker-main-color !important;
          background-image: none;
        }
        &.active {
          &.active {
            background-color: $datepicker-main-color !important;
            background-image: none;
            border-radius: 4px;
            &:focus,
            &:hover {
              background-color: $datepicker-main-color !important;
              background-image: none;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}
.datetime {
  position: relative;
  .icon-date {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 24px;
    color: $datepicker-main-color;
  }
}
.datetimepicker-input {
  font-size: 16px;
  height: 40px;
}
.bootstrap-datetimepicker-widget {
  &.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0 !important;
    margin: 0 !important;
    ul {
      li {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
      }
    }
    &.bottom {
      &:after {
        border-bottom-color: $datepicker-main-color;
      }
    }
  }
  &.top {
    &:after {
      border-top-color: $datepicker-main-color;
    }
  }
  &.bottom {
    &:before {
      display: none;
    }
  }
  .table {
    thead {
      background-color: color(50);
      color: color(50);
      th {
        border: none;
        border-radius: 0;
        font-weight: normal;
        font-size: 13px;
        font-family: font(md);
        color: color(900);
        span {
          font-size: 12px;
        }
        &.dow {
          background-color: $datepicker-main-color;
          font-size: 13px;
          color: color(50);
          font-family: font(md);
        }
      }
      tr {
        &:first-child {
          th {
            &:hover {
              background-color: color(50);
              color: $datepicker-main-color;
              .fa {
                color: $datepicker-main-color;
              }
            }
          }
        }
      }
    }
    td {
      border-top: none;
      border-radius: 0;
      font-size: 12px;
      border: 0;
      &.today {
        background-color: $datepicker-main-color;
        color: color(50);
        border-radius: 4px;
        &:before {
          border-bottom-color: $datepicker-main-color;
        }
      }
      &.old,
      &.new {
        color: #ccd0d5;
      }
      &.active {
        background-color: $datepicker-main-color;
        color: color(50);
        &:before {
          border-bottom-color: color(50);
        }
      }
      &:hover {
        background: $datepicker-main-color !important;
        color: color(50);
        border-radius: 4px;
      }
    }
  }

  .table-condensed {
    thead {
      background-color: color(50);
      color: $datepicker-main-color;
      th {
        border: none;
        border-radius: 0;
        font-weight: normal;
        padding: 8px;
        font-size: 14px;
        &.dow {
          background-color: #b3dc15;
        }
      }
      tr {
        &:first-child {
          th {
            &:hover {
              background-color: color(50);
              color: $datepicker-main-color;
              .fa {
                color: $datepicker-main-color;
              }
            }
          }
        }
      }
    }
    td {
      span {
        border-radius: 0;
        width: 38px;
        height: 38px;
        line-height: 38px;
        font-size: 13px;
        &.month {
          font-size: 14px;
        }
      }
      a[data-action="togglePicker"] {
        color: color(900);
        span {
          &:hover {
            background-color: transparent;
            color: $datepicker-main-color;
          }
        }
      }
    }
  }

  .timepicker {
    .btn-primary {
      background-color: $datepicker-main-color;
      background-image: none;
      border-radius: 0;
      border-color: $datepicker-main-color;
      margin: 15px 0;
      &:hover,
      &:focus,
      &:active {
        background-color: darken($datepicker-main-color, 10%) !important;
        border-color: darken($datepicker-main-color, 10%) !important;
      }
    }
    .timepicker-picker {
      a.btn {
        color: color(900);
        border: none;
        &:focus {
          border: 0;
          color: $datepicker-main-color;
        }
        &:hover {
          color: $datepicker-main-color;
          border: 0;
        }
      }
    }
    table {
      td {
        height: 35px;
        line-height: 35px;
        width: 35px;
        span {
          font-size: 16px !important;
          &:hover {
            background-color: color(50);
          }
        }
      }
    }
  }
}
