.bookNowCard{
    margin-bottom: 30px;
    &_img{
        border: 1px solid #EEEEEE;
        overflow: hidden;
        img{
            @include transition(all 0.3s);
        }
        a{
            em{position: absolute;top: 15px;right: 15px;color: color(50);}
            &.yup{
                em{
                    color: #E33535;
                    &::before{content: '\e930';}
                }
            }
        }
    }
    &_contBox{
        width: calc(100% - 30px);
        padding: 20px;
        background-color: color(50);
        @include box-shadow(0, 0, 15px, rgba(color(900), 0.1));
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: -86px;
        min-height: 184px;     
        position: relative;
        ul{
            margin-bottom: 10px;
            li{
                color: color(150);
                font-size: 14px;
                position: relative;
                &:not(:first-child){
                    padding-left: 23px;
                    &::before{
                        position: absolute;
                        content: '';
                        left: 10px;
                        top: 8px;
                        width: 3px;
                        height: 3px;
                        border-radius: 10px;
                        background-color: color(150);
                    }
                }
            }
        }
        h3{
            // margin-bottom: 30px;
            font-size: 1.375rem;
            color: color(800);
            font-family: font(bd);
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            a{
                color: color(800);
                &:hover{
                    color: color(500);
                }
            }
        }
        &_price{
            h4{
                font-size: 1.5rem;
                font-family: font(bd);
            }
            sup{
                font-family: font(md);
                font-size: 14px;
                top: -10px;
            }
            span{
                font-size: 14px;
                color: color(150);
                font-family: font(rg);
            }
            a{
                font-size: 18px;
                color: color(500);
                font-family: font(md);
                &:hover{
                    color: darken(color(500), 15%);
                }
            }
        }
    }
    &:hover{
        .bookNowCard_img{
            img{
                transform: scale(1.1);
            }
        }
    }
    @include media-breakpoint-down(xxl){
        margin-bottom: 20px;
        &_contBox{
            min-height: 154px; width: calc(100% - 15px);
            padding: 15px;
            &_price{
                a{
                    font-size: 16px;
                }
            }
            h3{font-size: 18px;}
            ul{
                margin-bottom: 10px;
                li{
                    font-size: 12px;
                }
            }
        }
    }
    @media (max-width: 1399px){
        &_contBox{
            &_price{
                h4{font-size: 20px;}
                sup{top: -6px}
            }
        }
    }
    @include media-breakpoint-down(xl){
        &_contBox{
            min-height: 136px;
            padding: 15px 10px;
            &_price{
                h4{font-size: 16px;}
                a{font-size: 13px;}
                sup{top: -4px}
            }
            h3{font-size: 16px;}
            ul{
                li{
                    &:not(:first-child){
                        padding-left: 16px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        &_contBox{
            min-height: 134px; 
        }   
    }
    // @include media-breakpoint-down(sm){
    //     &_contBox{
    //         &_price{
    //             h4{font-size: 16px;}
    //         }
    //     }   
    // }
}