.modal{
    &-md{
        max-width: 685px;
    }
    .close{
        width: 30px;height: 30px;position: absolute;right:-11px;top:-12px;background-color: color(800);
        color:color(50);font-size: 13px; @include flexcenter(both); border-radius: 50%;
        &:hover{color:color(800);background-color: color(500); transition: all 0.3s;}
    }
    &-content{
        border:0;border-radius: 10px;
    }
    @include media-breakpoint-down(lg) {
        &-content{padding: 5px;}
    }
    @include media-breakpoint-down(sm){
        .close{width: 26px;height: 26px;font-size: 9px;}
    }
}