.passwordChanged{
    .modal-dialog{max-width: 600px;}
    .icon{font-size: 70px;color:#0ADC3D; margin-bottom: 36px; }
    .modal-body{padding:70px 0 50px;}
    h2{font-size: 2.25rem;}
    p{font-size: 18px; color:#5D5D5D;}
    .btn-warning{max-width: 405px;}
    @include media-breakpoint-down(xxl){
        .modal-body{padding:50px 15px;}
        .icon{
            font-size: 60px;margin-bottom: 25px;
        }
        h2{
            font-size: 30px;
        }
        p{font-size: 16px;}
        .btn-warning{max-width: 350px;}
    }
    @include media-breakpoint-down(lg){
        .modal-body{padding:35px 15px;}
        .modal-dialog{max-width: 500px;}
        .icon{
            font-size: 50px;margin-bottom: 20px;
        }
        h2{
            font-size: 24px;
        }
    }
    @include media-breakpoint-down(md){
        .icon{
            font-size: 40px; margin-bottom: 15px;
        }
    }
}