// font classes
.font-rg {
  font-family: font(rg) !important;
}
.font-md {
  font-family: font(md) !important;
}
.font-lt {
  font-family: font(lt) !important;
}
.font-sm {
  font-family: font(sm) !important;
}
.font-bd {
  font-family: font(bd) !important;
}
.font-mm {
  font-family: font(mm) !important;
}
.mb-30 {
  margin-bottom: 30px;
  @include media-breakpoint-down(xxl) {
    margin-bottom: 20px;
  }
}
.br-10 {
  border-radius: 10px;
}
.br-5 {
  border-radius: 5px !important;
}
.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
  @include media-breakpoint-down(xxl) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-down(xxl) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @include media-breakpoint-down(xl) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.p-30 {
  @include padding(30px, 20px, 15px, 15px);
}


.bg-gray {
  background-color: #fafafa;
}

.commonDotList {
  li {
    font-size: 16px;
    font-family: font(lt);
    color: color(150);
    position: relative;
    span {
      font-family: font(rg);
    }
    &:not(:last-child) {
      margin-right: 8px;
      padding-right: 8px;
      &::after {
        content: "";
        position: absolute;
        right: 0;
        width: 2px;
        height: 2px;
        background: color(150);
        border-radius: 3px;
        top: 11px;
      }
    }
  }
  @media (max-width: 1399px) {
    li {
      font-size: 14px;
    }
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 10px;
  }
}


.commonShadow {
  @include box-shadow(0, 0px, 20px, rgba($color: color(900), $alpha: 0.05));
}

.badge {
  font-size: 16px;
  font-family: font(md);
  text-transform: uppercase;
  padding: 10px 13px;
  font-weight: normal;
  background: color(500);
  border-radius: 50px;
  line-height: 18px;
  align-items: center;
  .iconbox {
    width: 18px;
    height: 18px;
    font-size: 8px;
    border-radius: 20px;
    color: color(50);
    margin-right: 6px;
  }
  &-success {
    background-color: rgba(#00ae78, 0.1);
    color: #00ae78;
    .iconbox {
      background-color: #00ae78;
    }
  }
  &-cancel {
    background-color: rgba(#e33535, 0.1);
    color: #e33535;
    .iconbox {
      background-color: #e33535;
    }
  }
  @include media-breakpoint-down(xxl) {
    font-size: 14px;
    padding: 8px 10px;
  }
  @include media-breakpoint-down(xl) {
    font-size: 13px;
    .iconbox {
      width: 15px;
      height: 15px;
      font-size: 7px;
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 5px 7px;
    font-size: 12px;
  }
}

// Tabs
.tab {
  overflow: hidden;
  .nav-link {
    border-radius: 0;
    color: color(150);
    padding: 15px 20px;
    line-height: 25px;
    background-color: color(50);
    @include flexbox();
    align-items: center;
    em {
      font-size: 20px;
      margin-right: 15px;
    }
    &.active {
      background-color: color(500);
      color: color(900);
      font-family: font(sm);
    }
  }
  @include media-breakpoint-down(xl) {
    .nav-link {
      font-size: 15px;
      padding: 10px 15px;
      em {
        margin-right: 10px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .nav-link {
      font-size: 14px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
    .nav-link {
      width: 50%;
    }
  }
  @include media-breakpoint-down(sm) {
    .nav-link {
      padding: 5px;
      em {
        margin-right: 5px;
      }
    }
  }
}

.link-color {
  color: color(500);
  &:hover {
    color: darken(color(500), 15%);
  }
}

.error-block {
  color: #ff0000;
}
