.select2-selection--multiple {
  box-sizing: border-box;
  height: 44px;

  cursor: pointer;
  display: block;

  min-height: $ant-select-input-height;

  user-select: none;
  -webkit-user-select: none;
  .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
&.select2-lg .select2-selection--multiple {
  min-height: $ant-select-input-height-lg;
}
.select2-search--inline {
  .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0;
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}
