.footer {
  // padding-top: 113px;
  // background-image: url("#{$imageurl}/curve-black.svg");
  // background-repeat: no-repeat;
  // background-position: top;
  // width: 100%;
  @media (min-width: 1921px) {
    background-size: 100% auto;
  }
  &_inner {
    background-color: color(800);
  }
  @media (min-width: 1250px) {
    .container {
      max-width: 1214px;
      margin: auto;
    }
  }

  p {
    color: rgba($color: color(50), $alpha: 0.8);
    font-size: 14px;
    font-family: font(lt);
  }
  h5 {
    color: color(50);
    font-size: 1.375rem;
    font-family: font(md);
  }
  &_top {
    padding-top: 40px;
    padding-bottom: 65px;
    &_cnt {
      max-width: 330px;
    }
    &_left {
      width: 80px;
      height: 80px;
      background-color: rgba($color: color(50), $alpha: 0.05);
      border-radius: 50%;
      margin-right: 20px;
      em {
        color: color(500);
        font-size: 34px;
      }
    }
    &_right {
      width: calc(100% - 100px);
    }
    .custom-col {
      &:not(:last-child) {
        &:after {
          content: "";
          right: 30px;
          width: 1px;
          height: 46px;
          background-color: rgba($color: color(50), $alpha: 0.1);
          @include absolutecenter(y);
        }
      }
    }
  }
  &_logo {
    &_link {
      display: inline-block;
      margin-bottom: 27px;
    }
    p {
      margin-bottom: 30px;
    }
  }
  &_socialIcon {
    ul {
      li {
        a {
          font-size: 12px;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          @include flexcenter;
          background-color: rgba($color: color(50), $alpha: 0.44);
          color: color(800);
          font-family: font(lt);
          .splash-facebook {
            font-size: 14px;
          }
          &:hover {
            background-color: color(500);
            color: color(50);
            border-radius: 3px;
          }
        }

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      $colors: #3b5998, #1da1f2, #ff0000, #c32aa3;
      @for $i from 1 through length($colors) {
        li:nth-child(#{length($colors)}n + #{$i}) {
          a:hover {
            background: nth($colors, $i);
          }
        }
      }
    }
  }

  .footerNavbar {
    h4 {
      color: color(50);
      margin-bottom: 28px;
      font-size: 18px;
      font-family: font(md);
    }
    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 18px;
        }
        a {
          color: rgba($color: color(50), $alpha: 0.8);
          font-family: font(lt);
          font-size: 14px;
          position: relative;

          &:hover {
            color: color(500);
            padding-left: 10px;
          }
        }
      }
    }
    @media (min-width: 1441px) {
      .footer_contact {
        li {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &_contact {
    em {
      color: color(150);
      margin-right: 10px;
      margin-top: 4px;
    }
  }
  .copyRight {
    color: color(150);
  }

  &_bottom {
    padding: 20px 0;
    border-top: 1px solid rgba($color: color(50), $alpha: 0.06);
  }

  &_middle {
    margin-bottom: 50px;
  }
  .copyRight {
    font-size: 15px;
  }
  @media (max-width: 1699px) {
    &_top {
      padding-top: 95px;
      padding-bottom: 45px;
    }
    &_middle {
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(xxl) {
    &_top {
      padding-top: 30px;
      padding-bottom: 40px;
      &_left {
        width: 70px;
        height: 70px;
        margin-right: 15px;
        em {
          font-size: 26px;
        }
      }
      .custom-col {
        &:not(:last-child):after {
          right: 30px;
        }
      }
    }
    h5 {
      font-size: 16px;
    }
    &_logo {
      &_link {
        margin-bottom: 22px;
        img {
          height: 45px;
        }
      }
      p {
        margin-bottom: 20px;
      }
    }

    .footerNavbar {
      h4 {
        margin-bottom: 20px;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
    &_middle {
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1399px) {
    &_top {
      &_left {
        width: 60px;
        height: 60px;
        em {
          font-size: 22px;
        }
      }
      &_right {
        width: calc(100% - 80px);
      }
    }
    h5 {
      font-size: 15px;
    }
    &_logo {
      &_link {
        margin-bottom: 15px;
        img {
          height: 36px;
        }
      }
      p {
        margin-bottom: 15px;
      }
    }

    .footerNavbar {
      h4 {
        margin-bottom: 15px;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &_top {
      &_cnt {
        max-width: 100%;
      }
      .custom-col {
        &:not(:last-child):after {
          right: 6px;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &_top {
      &_right {
        h5 {
          margin-bottom: 5px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &_top {
      &_left {
        width: 40px;
        height: 40px;
        em {
          font-size: 16px;
        }
      }
      .custom-col {
        &:not(:last-child):after {
          display: none;
        }
      }
    }
    .copyRight {
      font-size: 13px;
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 0;
    padding: 0;
    &_top {
      padding: 25px 0;
    }
    .custom-row {
      > * {
        &:not(:last-child) {
          width: 50%;
        }
      }
    }
    .footerNavbar {
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
  &_middle {
    margin-bottom: 20px;
  }
  &_bottom {
    padding: 15px 0;
  }
}
