$bg-white: color(50);
$bg-dark: color(900);
$text-white: color(50);
$text-dark: #2b2b2b;
$link-color: color(500);
.header {
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: $bg-white;
  border-bottom: 1px solid #f0f0f0;
  .afterLogin,
  .userAccount {
    display: none;
  }
  &.userLogin {
    .afterLogin,
    .userAccount {
      display: flex;
    }
    .beforeLogin,
    .hideLogin {
      display: none !important;
    }
    .navbar-toggler-icon {
      background: $bg-dark;
    }
  }
  &.lightHeader {
    @include box-shadow(0, 3px, 5px, 0 rgba(57, 63, 72, 0.3));
    @include transition(all 0.3s ease);
    .navbar-toggler-icon {
      background: $bg-dark;
    }
  }
  .navbar {
    padding: 15px 0;
    &-brand {
      padding: 0;
      // height: 60px;
    }
    .actionBtn {
      .btn-warning {
        min-width: 110px;
      }
    }
    .nav-item {
      &:not(:last-child) {
        margin-inline-end: 25px;
      }
      &.active {
        .nav-link {
          color: $link-color;
          &:hover {
            color: $link-color;
          }
        }
      }
    }
    .nav-link {
      font-size: 16px;
      color: $text-dark;
      text-transform: uppercase;
      font-family: font(rg);
    }
    .custom-dropdown {
      .dropdown {
        &-toggle {
          border: none;
          background-color: transparent;
          overflow: hidden;
          padding-right: 25px;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
          }
          &::after {
            // display: none;
            font-family: "splash";
            content: "\e900";
            border: none;
            font-size: 7px;
            @include transition(ease-in, 0.3s);
            vertical-align: middle;
            right: 1px;
            position: absolute;
          }
          &.show {
            &:after {
              @include transform(rotateX(180deg));
            }
          }
        }
        &-menu {
          @include box-shadow(0px, 3px, 15px, 0 rgba(color(900), 0.06));
        }
      }
    }
    //  notification start
    .notification {
      border-right: 1px solid rgba(color(800), 0.1);
      padding-right: 30px;
      margin-right: 30px;
      &-link {
        color: color(800);
        font-size: 18px;
        &.indicator {
          position: relative;
          &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 7px;
            height: 7px;
            background-color: #e33535;
            border-radius: 50%;
          }
        }
      }
      .dropdown-menu {
        width: 422px;
        border-radius: 15px;
        @include box-shadow(
          0,
          3px,
          6px,
          rgba($color: color(900), $alpha: 0.16)
        );
      }
      .dropdown-toggle {
        &::after {
          display: none;
        }
      }
      .count {
        top: 1px;
        right: 1px;
        font-size: 10px;
        font-family: font(sm);
        width: 18px;
        height: 18px;
        position: absolute;
        background-color: color(500);
      }
      &_head,
      &_foot {
        a {
          font-family: font(md);
          color: color(500);
        }
      }
      &_head {
        padding: 14px 20px;
        border-bottom: 1px solid #e6e6e6;
        &_title {
          color: color(800);
          font-family: font(sm);
          font-size: 18px;
        }
      }
      &_body {
        padding: 20px;
        overflow-y: auto;
        max-height: 250px;
        &_item {
          color: #ababab;
          font-family: font(md);
          &:not(:last-child) {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #fafafa;
          }
        }
        &_time {
          margin-bottom: 10px;
          font-size: 14px;
        }
      }
      &_list {
        li {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
        &_left {
          position: relative;
        }
        &_right {
          margin-left: 10px;
          p {
            color: color(800);
            margin-bottom: 0px;
            @include text-clamp(2);
          }
          span {
            font-size: 14px;
          }
        }
        &_count {
          width: 40px;
          height: 40px;
          font-size: 14px;
          color: color(50);
          font-family: font(sm);
          &.org {
            background-color: #ff6b57;
          }
          &.succs {
            background-color: #04cbac;
          }
          &.yllw {
            background-color: #f9e446;
          }
        }
        &_status {
          position: absolute;
          width: 6px;
          height: 6px;
          right: 2px;
          top: 5px;
          background-color: #d85d5d;
        }
        img {
          width: 40px;
          height: 40px;
          border: 1px solid color(100);
          object-fit: cover;
        }
      }
      &_foot {
        padding: 15px;
        @include box-shadow(
          0px,
          -1px,
          6px,
          rgba($color: color(900), $alpha: 0.16)
        );
      }
    }
  }
  .msg-notify {
    position: absolute;
    content: "";
    top: 5px;
    right: 0px;
    width: 7px;
    height: 7px;
    background-color: #e33535;
    border-radius: 50%;
  }

  .header-logo {
    display: none;
  }
  .hideLogin {
    .btn {
      height: 40px;
      &.signUp {
        background-color: transparent;
        border-color: transparent;
        &:hover,
        &.active {
          color: color(500);
        }
      }
    }
  }

  //  media
  @include media-breakpoint-down(xxl) {
    .navbar {
      padding: 10px 0;
      .nav-item {
        &:not(:last-child) {
          margin-inline-end: 15px;
        }
      }
      .nav-link {
        font-size: 14px;
      }
      &-brand {
        img {
          height: 45px;
        }
      }
      .notification {
        &_head {
          padding: 10px 15px;
          &_title {
            font-size: 16px;
          }
        }
        .dropdown-menu {
          width: 350px;
        }
        &_body {
          padding: 15px;
          &_item:not(:last-child) {
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
        }
        &_foot {
          padding: 10px;
        }
        &_head,
        &_foot {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 1399px) {
    .navbar {
      &-brand {
        img {
          height: 36px;
        }
      }
    }
  }
  @include media-breakpoint-down(xl) {
    .navbar {
      .form-control {
        height: 35px;
      }
      .notification {
        padding-right: 20px;
        margin-right: 20px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .navbar {
      .nav-item {
        &:not(:last-child) {
          margin: 0;
        }
        &:last-child {
          margin-bottom: 5px;
        }
      }
      .nav-link {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .custom-dropdown {
        .dropdown {
          &-toggle {
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .actionBtn {
        margin-left: auto;
        margin-right: 15px;
        .btn-warning {
          min-width: inherit;
        }
      }
      &-brand {
        height: 40px;
      }
      &-nav {
        margin-bottom: 0;
      }
      &-toggler {
        $toggler: navbar-toggler;
        $size: 20px;
        &:focus {
          box-shadow: none;
        }
        &-icon {
          width: 100%;
          height: 2px;
          height: 2px;
          width: $size;
          display: block;
          background: $bg-dark;
          margin-bottom: 3px;
          position: relative;
          display: block;
          @include transition(transform 0.2s ease, background-color 0.5s ease);
          &:nth-child(1) {
            width: $size/2;
          }
          &:nth-child(3) {
            width: $size/2;
            float: right;
          }
        }
        &[aria-expanded="true"] {
          .#{$toggler}-icon {
            &:nth-child(1) {
              @include transform(translate(0, 0.9px) rotate(45deg));
            }
            &:nth-child(2) {
              @include transform(translateX(0px) rotate(-45deg));
            }
            &:nth-child(3) {
              @include transform(translate(-1.3px, 0px) rotate(45deg));
            }
          }
        }
      }
      &-collapse {
        order: 3;
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0;
        padding: 0 12px;
        background-color: $bg-white;
        @include box-shadow(0px, 10px, 15px, rgba(color(800), 0.1));
        .custom-dropdown {
          .dropdown-menu {
            box-shadow: none;
          }
        }
        .dropdown-menu {
          padding: 0 10px 5px 10px;
          li {
            &:not(:last-child) {
              a {
                border-bottom: 0;
                padding-bottom: 0;
              }
            }
          }
        }
      }
      .notification {
        &_body {
          padding: 10px;
        }
        .count {
          width: 12px;
          height: 12px;
          font-size: 6px;
        }
        &_list {
          &_right {
            p {
              font-size: 14px;
            }
            span {
              font-size: 12px;
            }
          }
          li {
            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .msg-notify {
      top: 8px;
      left: 72px;
      right: auto;
    }
    .hideLogin {
      .btn {
        height: 35px;
        padding: 5px 10px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .navbar {
      padding: 5px 0;
      .actionBtn {
        .btn-warning {
          min-width: 70px;
        }
      }
      &-collapse {
        top: 50px;
      }
      .notification {
        padding-right: 15px;
        margin-right: 15px;
        &-link {
          font-size: 16px;
          &.indicator {
            &:before {
              width: 6px;
              height: 6px;
            }
          }
        }
        .dropdown-menu {
          width: 350px;
        }
      }
    }

    .hideLogin {
      .btn {
        height: 35px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .navbar {
      &-brand {
        img {
          height: 26px;
        }
      }
      .actionBtn {
        margin-inline-end: 10px;
      }
      .searchBtn {
        @include flexbox;
        @include flexcenter(both);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-decoration: none;
        font-size: 14px;
        color: #464141;
        background-color: #d7d7d7;
        border-radius: 50%;
        margin-inline-end: 5px;
        flex: 0 0 auto;
      }
      .searchBox {
        position: absolute;
        width: 100%;
        background: $bg-white;
        left: 0;
        top: 52px;
        padding: 5px 10px;
        display: none;
        z-index: 10;
      }
      .notification {
        &_body {
          max-height: 190px;
          &_time {
            font-size: 13px;
          }
        }
        .dropdown-menu {
          width: 260px;
          top: 25px;
          left: 0;
          transform: translateX(-50%);
        }
      }
    }
  }
}
