$ant-checkbox-bg-active : $form-check-input-checked-bg-color;
$ant-checkbox-border-active : $ant-checkbox-bg-active;
.ant-checkbox{
    &-wrapper{
        &:hover{
            .ant-checkbox-inner{
                border-color: $ant-checkbox-border-active;
            }
        }
    }
    &-input{
        &:focus{
            &+.ant-checkbox-inner{
                border-color: $ant-checkbox-border-active;
            }
        }
    }
    &-checked{
        &:after{
            border-color: $ant-checkbox-border-active;
        }
        .ant-checkbox-inner{
            background-color: $ant-checkbox-bg-active;
            border-color: $ant-checkbox-border-active;
        }
    }
}