
.ant-switch{
    &.ant-switch-checked, &.ant-switch-checked:hover:not(.ant-switch-disabled){
        background-color: $accent-color;
    }
    &:focus-visible{
        outline: none !important;
    }
}
.ant-upload{
    &-wrapper{
        &.ant-upload-event{
            .ant-upload{
                &.ant-upload-select{
                    width: 100%;
                    height: 170px;
                }
            }
        }
        &.full-width-md{
            .ant-upload{
                &.ant-upload-select{
                    width: 100%;
                    height: 200px;
                }
            }
        }
        .ant-upload{
            &.ant-upload-select{
                &:not(.ant-upload-disabled){
                    &:hover{
                        border-color: $accent-color !important;
                    }
                }
                .ant-upload-icon{
                    span{font-size: 15px; padding: 5px; border: 1px solid $accent-color; border-radius: 50%; color: $accent-color;}    
                    p{font-weight: 500; font-size: 15px; margin-top: 3px;}
                }
            }
        }
        @include media-breakpoint-down(xl){
            &.full-width-md{
                .ant-upload{
                    &.ant-upload-select{
                        height: 160px;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            &.full-width-md, &.ant-upload-event{
                .ant-upload{
                    &.ant-upload-select{
                        height: 130px;
                    }
                }
            }
        }
    }
}
.ant-steps{
    &-item{
        &.ant-steps-item-finish{
            .ant-steps-item-icon {
                >.ant-steps-icon{
                    color: $accent-color;
                    .ant-steps-icon-dot{
                        background: $accent-color;
                    }
                }
            }
            >.ant-steps-item-container{
                >.ant-steps-item-tail{
                    &::after{
                        background-color: $accent-color;
                    }
                }
            }
            .ant-steps-item-content{
                .ant-steps-item-description{
                    color: $base-500;
                }
            }
        }
        &.ant-steps-item-process{
            .ant-steps-item-icon >{
                .ant-steps-icon{
                    .ant-steps-icon-dot{
                        background: $accent-color;
                    }
                }
            }
        }
        .ant-steps-item-content{
            .ant-steps-item-title{
                font-weight: 700;
            }
        }
    }
}
@import './ant-checkbox';
@import './ant-radio';