.becomeOwnerPage{
    // Become an owner
    .becomeOwner{
        &_tabs{
            position: sticky;top: 84px;
        }
        .f-18{
            font-size: 18px;
        }
        .f-14 {
            font-size: 14px;
            @include media-breakpoint-down(sm){
                font-size: 12px;
            }
        }
        .nav-link{
            background-color: color(50);@include box-shadow(0,0,20px,rgba(color(900),0.05));padding: 30px 25px;border-radius: 5px;margin-bottom: 20px;
            &.active{
                background-color: color(50);color: color(400);
                .stepTabs{
                    &_count{
                        border: 1px solid color(400);
                        span{
                            background-color: rgba(color(400),0.1);
                        }
                    }
                    &_desc{
                        h3{color: color(400)}
                    }
                }
            }
        }
        .stepTabs{
            &_count{
                width: 45px;height: 45px;border: 1px solid color(90);border-radius: 50%;background-color: color(50);
                @include flexcenter($axis: "both");
                span{
                    width: 37px;height: 37px;border-radius: 50%;background-color: rgba(color(90),0.5);color: color(800);
                    @include flexcenter($axis: "both");font-size: 15px;
                }
            }
            &_desc{
                margin-left: 15px;
                h3{font-size: 18px;color: color(800)}
                p{color: color(150);font-size: 14px;}
            }
        }
        &_content{
            border-radius: 5px;padding: 25px 30px;
            .heading{
                font-size: 24px;margin-bottom: 20px;
                span{color: color(400);font-size: 36px;}
            }
            p{
                color: color(150);
            }
        }
        .uploadFile {
            label{
                border: 1px dashed #C4C4C4;border-width: 2px;color: color(150);font-size: 16px;
                font-family: font(rg); overflow: hidden;position: relative;height: 250px;
                border-radius: 5px;
                [type="file"] {
                  cursor: pointer;opacity: 0;position: absolute;z-index: 1;
                }
                span{font-size: 16px;}
            }
        }
        .choosePhoto{
            label{cursor: pointer;width: 100%;}
            img{ width: 100%; height: 250px;object-fit: cover;border-radius: 10px;}
            &_txt{
                position: absolute;top: 15px;left: 15px;width: 125px;background-color: color(50);border-radius: 5px;
                padding: 10px 8px;text-align: right;font-size: 16px;color: color(800);
                &::before, &::after{
                    content: '';
                    position: absolute;
                    top: 13px;
                    left: 10px;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    background-color: transparent;
                    border: 1px solid color(150);
                    border-radius: 50%;
                    @include transition(all 0.3s);
                }
            }
            input[type="radio"]{
                display: none;
                &:checked{
                    & + {
                        .form-radio-label{
                            .choosePhoto_txt{
                                &::before{
                                    border-color: color(500);
                                }
                                &:after{
                                    width: 10px ;height: 10px ; background-color: color(500);border-color: color(500);
                                    top: 16px;left: 13px;
                                }
                            }
                        }
                    }
                }
            }
            &_delete{
                width: 35px;height: 35px;background-color: color(800);border-radius: 50%;@include flexcenter($axis: "both");
                position: absolute;top: -10px;right: -3px;border: 3px solid #fff;@include transition(all 0.3s);
                em{color: color(50)}
                &:hover{
                    background-color: color(500);
                    em{color: color(50)}
                }
            }
        }
        .locationMap{
            height: 450px;
        }
        .checkList{
            li {
              font-size: 16px;
              em{padding-right: 13px;font-size: 10px;color: color(500);}
              &:not(:last-child){
                margin-bottom: 10px;
              }
            }
        }
        .calendarStatusList {
            li{
                &:not(:last-child){margin-right: 50px;}
            }
            &_box{
                width: 28px;height: 28px;border-radius: 3px;margin-right: 15px;border: 1px solid #ebdada;
                &--book{
                    background-color: #dce0e0;
                }
                &--notAvailable{
                    background-color: #fa7475;
                }
                &--available{
                    background-color: color(50);
                }
                &--specialPrice{
                    background-color: #1dd265;
                }
            }
        }
        .calendar{
            height: 350px; width: 630px;
            .fc-theme-standard{
                .fc-scrollgrid {border: 0;}
                .fc-scroller{overflow: hidden !important;}
                td, th{
                    border: 4px solid color(50); 
                }
                .fc-daygrid-day{
                    &-top{flex-direction: column-reverse;}
                    .fc-non-business{
                        background: transparent;
                    }
                    &-number{
                        font-size: 14px;color: color(150)
                    }
                }
                .fc-day{
                    cursor: pointer;
                    &-today {
                        .fc-daygrid-day-frame{
                            background-color: color(400);
                        }
                    }
                    &-future {
                        .fc-daygrid-day-frame{
                            background-color: rgba(color(400),0.1);
                        }
                    }
                    &-other {
                        .fc-daygrid-day-frame{
                            background-image: url("#{$imageurl}/calendar-bg.svg");
                        }
                    }
                }
            } 
            &_inner{
                height: 100%;width: 100%;
                .fc-header-toolbar{
                    display: none;
                }
                table{
                    thead{display: none;}                        
                }
            }
        }
        .number {
            .addon {
                background-color: rgba(color(80), 0.77);
                border-radius: 5px;
                text-align: center; color: color(150);
                cursor: pointer; font-size: 12px;
                padding: 15px 19px;
                &.minus{margin-right: 8px;}
                &.plus{margin-left: 8px;}
            }
            input{max-width: 100px;}
        }

        .formLabs{
            &_items{
                input[type="radio"],input[type="checkbox"]{
                    &:checked{
                        + label{
                            color: color(800);
                            border-color: color(400);
                        }
                    }
                    &:disabled {
                        + label{
                            color: rgba(color(800), 0.5);
                            p {color: rgba(color(800), 0.5);}
                        }
                    }
                }
                label{
                    cursor: pointer;     
                    border: 2px solid color(80);
                    background-color: color(80);
                    border-radius: 5px;
                    padding: 5px 10px;
                    font-family: font(md);
                    @include flexcenter();
                    height: 48px;
                    margin-bottom: 0;
                }    
            }  
            @include media-breakpoint-down(xxl){
                &_items {
                    label{
                        font-size: 14px; height: 40px; padding: 5px;
                        p{font-size: 10px;}
                    }
                } 
            }          
        }

        @include media-breakpoint-down(xxl){
            .nav-link{
                padding: 20px 15px;margin-bottom: 15px;
            }
            .f-18{font-size: 17px;}
            .stepTabs{
                &_count{
                    width: 40px;height: 40px;
                    span{
                        width: 30px;height: 30px;font-size: 14px;
                    }
                }
                &_desc{
                    margin-left: 10px;
                    h3{font-size: 16px;}
                }
            }
            &_content{
                padding: 15px 20px;
                .heading{
                    font-size: 21px;margin-bottom: 15px;
                    span{font-size: 28px;}
                }
            }
            .uploadFile {
                label{
                    height: 170px;
                    span{font-size: 15px;}
                }
            }
            .choosePhoto{
                img{  height: 200px;}
                &_txt{
                    top: 10px;left: 10px;width: 115px;
                    padding: 5px;font-size: 14px;
                    &::before, &::after{
                        top: 7px;
                    }
                }
                input[type="radio"]{
                    &:checked{
                        & + {
                            .form-radio-label{
                                .choosePhoto_txt{
                                    &:after{
                                        top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .checkList{
                li {
                  font-size: 15px;
                  em{padding-right: 10px;}
                  &:not(:last-child){
                    margin-bottom: 5px;
                  }
                }
            }
            .locationMap{
                height: 350px;
            }
            .calendarStatusList {
                &_box{width: 24px;height: 24px;}
                li{
                    &:not(:last-child){margin-right: 30px;}
                }
            }
            .number{
                .addon{
                    font-size: 12px;padding: 11px 14px;
                    &.minus{margin-right: 5px;}
                    &.plus{margin-left: 5px;}
                }
            }
        }

        @include media-breakpoint-down(xl){
            .nav-link{
                padding: 10px;margin-bottom: 10px;
            }
            &_content{
                padding: 15px;
                .heading{
                    font-size: 19px;margin-bottom: 10px;
                    span{font-size: 24px;}
                }

            }
            .uploadFile {
                label{
                    height: 140px;
                }
            }
            .locationMap{
                height: 300px;
            }
            .choosePhoto{
                img{  height: 180px;}
                &_txt{
                    width: 100px;font-size: 13px;
                    &::before, &::after{
                        width: 13px;height: 13px;left: 7px;
                    }
                }
                input[type="radio"]{
                    &:checked{
                        & + {
                            .form-radio-label{
                                .choosePhoto_txt{
                                    &:after{
                                        width: 7px ;height: 7px ;left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
                &_delete{
                    width: 30px;height: 30px;
                    em{font-size: 13px;}
                }
            }
        }

        @include media-breakpoint-down(lg){
            .f-18{font-size: 16px;}
            
            &_content{
                .heading{
                    font-size: 17px;
                    span{font-size: 20px;}
                }
            }
            .uploadFile {
                label{
                    height: 100px;
                    span{font-size: 14px;}
                }
            }
            .locationMap{
                height: 250px;
            }
            .choosePhoto{
                img{  height: 130px;}
            }
            .calendar{
                width: 100%;
                .fc-daygrid-body.fc-daygrid-body-unbalanced {
                    width: 100% !important;
                }
                table.fc-scrollgrid-sync-table {
                    width: 100% !important;
                }
            }
            .calendarStatusList {
                &_box{width: 20px;height: 20px;margin-right: 10px;}
                li{
                    &:not(:last-child){margin-right: 20px;}
                }
            }
            .number{
                .addon{
                    height: 35px;padding: 8px 15px;
                }
                input{
                    max-width: 80px;
                }
            }
        }

        @include media-breakpoint-down(md){
            &_tabs{
                position: static;
            }
            .nav-pills{
                white-space: nowrap; overflow-x: auto;
            }
            .nav-link{
                &:not(:last-child){margin-right: 10px;}
            }
        }
        @include media-breakpoint-down(sm){
            
            .stepTabs{
                &_desc{
                    h3{font-size: 15px;}
                }
            }
            .calendarStatusList {
                gap: 5px;
                li{
                    &:not(:last-child){margin-right: 15px;}
                }
            }
        }
        @media(max-width: 415px){
            .choosePhoto{
                [class*="col-"]{
                    width: 100%;flex: 0 0 100%;
                }
                img{height: auto;}
            }
            .number{
                [class*="col-"]{
                    width: 100%;flex: 0 0 100%;
                } 
            }
        }
    }
    // Become an owner
}
