.detailPage {
    // bannerSlider
    .bannerSlider { 
        padding: 30px 0 80px ; background-color: color(800); position: relative;
        background-image: url('#{$imageurl}/banner-linebg.png');
        &-for{
            border-radius: 10px; margin-bottom: 20px;
            .slick-list  {
                border-radius: 10px; overflow: hidden;
            }
            &.slick-slider {
                margin-left: 0; margin-right: 0;
            }
            .slick-slide{margin: 0;}
            img {width: 100%;}
        }
        &-nav {
            &.slick-slider{
                margin-left: 0; margin-right: 0;
            }           
            .slide {
                border-radius: 5px; margin-right: 20px; margin-left: 0;
                overflow: hidden;height: 110px; cursor: pointer;
                @include transition(all 0.3s ease);
                display: inline-flex;
                img {
                    width: 100%; height: 100%; object-fit: cover;
                }
            }
            .slick-list {padding-right: 50px;} 
            .slick-current {
                position: relative;
                &::before {
                    content: '';
                    width: 100%; height: 100%;
                    position: absolute;
                    top: 0; left: 0; border-radius: 5px;
                    border: 2px solid color(500);
                }
                &::after{
                    content: '';
                    width: 100%; height: 100%;
                    position: absolute;
                    top: 0; left: 0; border-radius: 5px;
                    background-color: rgba(color(500), 0.7); 
                    mix-blend-mode: multiply;
                }
            }
        }
        .slick-arrow {
            background: rgba(color(50), 0.2);
            backdrop-filter: blur(1px); top: 50%;
            &:hover {
                background-color: color(500);
            }
        }
        .prev-arrow {left: 20px;}
        .next-arrow {right: 20px;}
        .curve {
            position: absolute;
            bottom: 0;
        }
        @media (max-width:1399px) {
            &-for {margin-bottom: 15px;}
            &-nav {
                .slide {
                    margin-right: 15px; height: 90px;
                }
            }
        } 
        @include media-breakpoint-down(xl){
            padding-bottom: 60px;
        }
        @include media-breakpoint-down(lg){
            padding-top: 20px; padding-bottom: 50px;
        }
        @include media-breakpoint-down(md) {
            &-nav {
                .slide {height: 80px;} 
            }
        }
        @include media-breakpoint-down(sm){
            padding-bottom: 40px;padding-top: 15px;
            &-for {margin-bottom: 10px;}
            &-nav {
                .slide{margin-right: 10px;}
                .slick-list {padding-right: 15px;} 
                .slide{height: 70px;}
            }
            .prev-arrow {left: 10px;}
            .next-arrow {right: 10px;}
        }
    }
    // aboutDetail
    .aboutDetail {
        background-color: #FAFAFA; 
        h1 {font-size: 1.875rem; color: color(800);}
        h2 {font-size: 1.5rem; margin-bottom: 12px;}
        h3 {font-family: font(sm);font-size: 1.25rem;}
        h4 {font-size: 18px; margin-bottom: 6px; font-family: font(sm);}
        p {color: rgba(color(800),0.7);}
        .shareBtn {
            li {
                font-size:14px;
                text-transform: uppercase;
                @include flexbox();
                align-items: center;
                em {font-size: 20px;margin-right: 13px;}
                &:not(:last-child){
                    padding-right: 20px;
                }
                a {
                    color: color(800);
                    &:hover{
                        color: #E33535;
                    }
                }
            }
            
            @include media-breakpoint-down(xxl){
                li {
                    em{font-size: 14px;    margin-right: 7px;}
                }
            }
        }
        &_box {
            padding: 35px 40px 50px 40px;
            background-color: color(50);
            @include box-shadow(0, 5px, 30px, rgba(color(900), 0.05));
            &:first-child{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            @include media-breakpoint-down(xxl){
                padding: 30px 20px;
            }
        }
        &_left {
            .profile {
                &_title{
                    font-size: 16px; font-family: font(sm); margin-right: 13px; color: color(800);
                }
                &_img {
                    width: 50px; height: 50px; border-radius: 100%; overflow: hidden;
                    img {width: 100%; height: 100%; object-fit: cover;}
                }
            }
        }
        .boatSpecification {
            padding-top: 40px;
            &_item{
                padding: 27px 15px 20px 15px; border-radius: 5px; height: 100%;
                @include box-shadow(0, 3px, 15px, rgba(color(900), 0.05));
                img {margin-bottom: 12px;}
                p {
                    &:not(:last-child){font-family: font(bd); color: color(800);}
                    &:last-child{font-size: 15px; }
                }
            }
            @include media-breakpoint-down(xxl) {
                padding-top: 30px;
                &_item {
                    padding: 15px 10px;
                    p {
                        font-size: 14px;
                        &:last-child{font-size: 14px; }
                    }

                }
            }
        }
        .boatFeatures {
            ul {
                margin-bottom: 0; width: 100%;
                li {
                    color: rgba(color(800),0.7); width: 50%;display: none;
                    padding-left: 20px; padding-right: 5px; position: relative; margin-bottom: 15px;
                    &::before{
                        content: "\e900";
                        font-family: "splash";
                        position: absolute;
                        left: 0; top: 6px;
                        font-size: 7px;
                        color: rgba(color(800), 0.5);
                        transform: rotate(-90deg);
                    }
                    &:nth-child(-n + 4) {
                        display: block;
                    }
                }
                &.full li {
                display: block;
                }
            }

            @include media-breakpoint-down(xxl){
               ul {
                li {
                    font-size: 15px;     margin-bottom: 10px;
                }
               } 
            }
        }
        // boatReview 
        .boatReview {
            &_list {
                border-top: 1px solid rgba(#D5D5D5, 0.5); padding-top: 22px; padding-bottom: 28px;
                p {margin-bottom: 0;}
            }
            .commonDotList { margin-bottom: 10px;
                li {color: color(800); font-size: 15px; font-family: font(rg);}
            }
            .showMore {
                font-size: 14px; font-family: font(md); color: color(500); text-transform: uppercase;
                &:hover{
                    color: darken(color(500), 15%);
                }
            }
            @include media-breakpoint-down(xxl){
                &_list{
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
            @media (max-width:1399px) {
                .commonDotList{
                    li{font-size: 14px;}
                }
            }
        }
        // ownedBy
        .ownedBy {
            h2 {
                font-size: 1.875rem; margin-bottom: 8px;
            }
            .commonDotList  {
                li {font-family: font(rg);}
            }
            &_profile {
                width: 98px; height: 98px; margin-right: 25px; border-radius: 50%; overflow: hidden;
                img {width: 100%; height: 100%; object-fit: cover;}
            }
            @include media-breakpoint-down(xxl) {
                h2{font-size: 26px;}
                &_profile {width: 80px; height: 80px;}
            }
        }
        // location 
        .location {
           &_map {
            display: inline-block;
            margin-top: 4px;
            margin-bottom: 20px;
                img {
                    width: 100%;
                }
           }
        }
        // right box
        &_right {
            padding: 30px 20px 30px 20px;
            h2 {
                font-size: 2.3125rem; 
                sup {font-size: 20px;}
                span {font-size: 1.25rem; color: color(150); font-family: font(rg);}
            }
            p{color: color(800);}
            // formLabs radios
            .formLabs{
                &_items{
                    input[type="radio"],input[type="checkbox"]{
                        &:checked{
                            + label{
                                color: color(800);
                                border-color: color(400);
                            }
                        }
                        &:disabled {
                            + label{
                                color: rgba(color(800), 0.5);
                                p {color: rgba(color(800), 0.5);}
                            }
                        }
                    }
                    label{
                        cursor: pointer;     
                        border: 2px solid color(80);
                        background-color: color(80);
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-family: font(md);
                        @include flexbox();
                        flex-direction: column;
                        justify-content: center;
                        height: 48px;
                        margin-bottom: 0px!important;
                        font-size: 16px;
                        width: 100%; text-align: center;
                        p{font-size: 12px; margin-bottom: 0;}
                    }    
                }  
                @include media-breakpoint-down(xxl){
                    &_items {
                        label{
                            font-size: 14px; height: 40px; padding: 5px;
                            p{font-size: 10px;}
                        }
                    } 
                }          
            }
            // amountBox
            .amountBox {
                padding-top: 10px;
                &_item {
                    width: 100%; margin-bottom: 15px; padding-bottom: 15px; 
                    &:not(:last-child) {
                        border-bottom: 1px solid #EBEBEB;
                    }
                    &.total {
                        font-family: font(bd); font-size: 20px;
                    }
                }
                p {
                    font-size: 14px;
                    font-family: font(lt);
                    color: rgba(color(800),0.6);
                    text-align: center;
                    margin-top: 10px;
                    border-bottom: 1px solid #EBEBEB;
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                }
                @include media-breakpoint-down(xxl) {
                    padding-top: 0;
                    &_item {
                        font-size: 15px;margin-bottom: 10px; padding-bottom: 10px;
                        &.total{font-size: 18px;}
                    }
                    p  {
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                    }
                }
            }
            .infoBox {
                max-width: 326px;
                p{
                    color: color(800);
                    &:first-child{font-family: font(sm);}
                }
                a {
                    color: color(500);
                    &:hover {
                        color: darken(color(500), 15%);
                    }
                }
                @include media-breakpoint-down(xxl) {
                    a {font-size: 15px;}
                }
            }
        }   
        @include media-breakpoint-down(xxl){
            h1{font-size: 26px;}
            h2{font-size: 22px;}
            h3{font-size: 18px;}
            p{font-size: 15px;}
            &_left {
                .profile {
                    &_title {
                        font-size: 15px;
                    }
                }
            }
            &_right{
                h2{
                    font-size: 30px;
                    sup,span{font-size: 16px;}
                    
                }
            }
        }
        @include media-breakpoint-down(xl){
            h1{font-size: 22px;}
            h2{font-size: 20px; margin-bottom: 8px;}
            h4{font-size: 16px;}
            p{margin-bottom: 10px;}
            .shareBtn{
                margin-bottom: 10px;
            }
            &_box {
                padding: 20px;
            }
            &_left {
                .profile {
                    &_title{font-size: 14px;}
                }
            }
            &_right {
                h2{font-size: 26px;}
            }
            .ownedBy {
                h2 {font-size: 22px;}
                &_profile{
                    width: 70px; height: 70px;
                }
            }
            .location{
                &_map{margin-bottom: 10px; margin-top:0;}
            } 
            .boatSpecification{padding-top: 20px;}
        }
        @include media-breakpoint-down(lg){
            h1 {font-size: 20px;}
            h2{font-size: 18px;}
            h3{font-size: 16px;}
            p{font-size: 14px;}
            &_box {padding: 15px;}
            &_right{
                h2 {font-size: 22px !important;}
                .amountBox {
                    &_item{
                        font-size: 14px;
                        &.total {font-size: 16px;}
                    }
                }
                .infoBox {
                    a {font-size: 14px;}
                }
            }
            .ownedBy {
                h2 {font-size: 20px;}
                &_profile{margin-right: 15px;}
            }
        }
        @include media-breakpoint-down(sm){
            h1{font-size: 18px;}
            h2{font-size: 16px;}
            .shareBtn {
                margin-top: 10px;
                li{
                    font-size: 12px;
                    &:not(:last-child){padding-right: 10px;}
                }
            }
            &_left{
                .profile {
                    &_title{
                        margin-left: 10px; margin-right: 0;
                    }
                    &_img{width: 40px; height: 40px;}
                }
            }
            .boatFeatures {
                ul{
                    margin-top: 10px;
                   li {
                        padding-right: 0px;
                        width: 100%; margin-bottom: 5px;
                   }
                }
            }
            .boatReview {
                &_list{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
            .ownedBy {
                h2{font-size: 18px;}
                &_profile {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    // similarBoats
    .similarSec {
        position: relative; 
        &::after{
            content:'';
            position: absolute;
            bottom: -115px;
            width: 100%; height: 115px;
            background-color: color(50);
        }
        @include media-breakpoint-down(lg){
            padding-bottom: 80px;
        }
    }
    .eventBtn {
        font-family: font(md); font-size: 16px; color: color(800); margin-bottom: 20px;
        em {font-size: 7px; margin-left: 7px; color: rgba(color(800), 0.5);    transition: all 0.5s;}
        &:hover{
            color: color(500);
            em {color: color(500);}
        }
        @include media-breakpoint-down(xxl) {
            font-size: 15px;margin-bottom: 15px;
        }
        @include media-breakpoint-down(xl){
            margin-bottom: 10px;
        }
        @include media-breakpoint-down(lg){
            font-size: 14px;
        }
    }
    // plus minus input 
    .number {
        .addon {
            background-color: rgba(color(80), 0.77);
            border-radius: 5px;
            text-align: center; color: color(150);
            cursor: pointer; font-size: 12px;
            padding: 15px 19px;
            &.minus{margin-right: 8px;}
            &.plus{margin-left: 8px;}
        }
        @include media-breakpoint-down(xxl){
          .addon{
            font-size: 12px;padding: 11px 14px;
            &.minus{margin-right: 5px;}
            &.plus{margin-left: 5px;}
          }  
        }
        @include media-breakpoint-down(lg){
            .addon{font-size: 10px;}
        }
    }
    @include media-breakpoint-down(xl){
        .bookNowCard {margin-bottom: 15px;}
        .footer{
            margin-top: -40px;
        }
    }
}