.getReadyPage {
    &_inner {
        max-width: 412px; width: 100%;
        margin: 0 auto;padding-top: 50px;
    }
    &_imgholder {margin-bottom: 30px;}
    &_imgBox {
        width: 132px; height: 132px;  overflow: hidden; flex-shrink: 0; margin: 0 16px;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &_iconBox {
        width: 76px; height: 76px; border: 3px solid color(50); background-color: color(600); 
    }
    p {font-size: 18px;}
    .btn{margin-top: 40px;}
    @include media-breakpoint-down(xxl) {
        &_inner {padding: 30px 0;}
        &_imgholder {margin-bottom: 20px;}
        &_imgBox {width: 110px; height: 110px;}
        &_iconBox {
            width: 66px; height: 66px;
        }
        .btn{margin-top: 25px;}
    }
    @include media-breakpoint-down(xl) {
        p{margin-bottom: 10px; font-size: 16px;}
        &_imgBox {
            width: 90px; height: 90px ; margin: 0 10px;
        }
        &_iconBox {
            width:50px; height:50px;
            img{width: 35px;}
        }
    }
}