.homePage {
  .btn {
    padding: 8px 30px;
    @include media-breakpoint-down(lg) {
      padding: 5px 15px;
    }
    @include media-breakpoint-down(sm) {
      padding: 5px 10px;
    }
  }

  //Booknow card for home
  .bookNowCard {
    margin-bottom: 10px;
  }

  // recommended
  .recommended {
    .bookNowCard_contBox {
      min-height: 160px;
    }
    @include media-breakpoint-down(xxl) {
      .bookNowCard_contBox {
        min-height: 115px;
      }
    }
    @include media-breakpoint-down(xl) {
      padding-bottom: 60px;
    }
  }

  //about us css
  .aboutUs {
    background-color: #f7f7ff;
    .commonHead {
      &_title {
        margin-bottom: 24px;
        span {
          color: color(400);
        }
      }
      .explorebtn {
        margin-top: 60px;
      }
      @include media-breakpoint-up(xxl) {
        &_title {
          font-size: 3.625rem;
          line-height: 72px;
        }
      }
      @include media-breakpoint-down(xxl) {
        padding-left: 50px;
        &_title {
          margin-bottom: 12px;
        }
        .explorebtn {
          margin-top: 30px;
        }
      }
      @include media-breakpoint-down(lg) {
        padding-left: 0;
        &_title {
          margin-bottom: 6px;
        }
        .explorebtn {
          margin-top: 15px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      .aboutImg {
        max-width: 300px;
        width: 100%;
      }
    }
  }

  //popular cities css
  .mostViewed {
    background-color: color(800);
    background-image: url("#{$imageurl}/most-viewed-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    .commonHead {
      &_tag {
        &::before {
          display: none;
        }
      }
    }
    .btn {
      margin-top: 40px;
      border: 1px solid color(150);
      color: color(50);
      &:hover {
        background-color: color(50);
        color: color(800);
        border: 1px solid color(50);
      }
    }
    @include media-breakpoint-down(lg) {
      .btn {
        margin-top: 20px;
      }
    }
  }

  //recent blog css
  .recentBlogs {
    &_slide {
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include media-breakpoint-up(xl) {
        img {
          transition: 0.4s ease-in-out;
          height: auto;
          transform: scale(1);
        }

        &:hover {
          img {
            transform: scale(1.3);
            transition: 0.4s ease-in-out;
          }

          .recentBlogs_cont {
            padding-top: 55px;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
    &_cont {
      padding: 23px 20px 20px 20px;
      transition: 0.4s ease-in-out;
      border: 1px solid color(80);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      h4 {
        font-size: 1.375rem;
        font-family: font(bd);
        margin-bottom: 30px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      a {
        color: color(800);
        font-size: 18px;
        font-family: font(md);
        padding-bottom: 8px;
        &::after {
          position: absolute;
          content: "";
          width: calc(100% - 30px);
          height: 2px;
          background-color: color(500);
          bottom: 0;
          left: 0;
        }
        em {
          font-size: 10px;
          margin-left: 7px;
        }

        &:hover {
          color: color(500);
        }
      }
    }
    @include media-breakpoint-up(xl) {
      height: 570px;
    }
    @include media-breakpoint-up(xxl) {
      height: 755px;
    }
    @include media-breakpoint-down(xxl) {
      &_cont {
        padding: 18px;
        h4 {
          font-size: 18px;
          margin-bottom: 20px;
        }
        a {
          font-size: 16px;
          padding-bottom: 5px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      &_cont {
        padding: 12px;
        h4 {
          font-size: 16px;
          margin-bottom: 10px;
        }
        a {
          font-size: 14px;
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &_cont {
        h4 {
          font-size: 14px;
        }
        a {
          font-size: 13px;
        }
      }
    }
  }

  //register now css
  .registerNow {
    background-image: url("#{$imageurl}/ragister-now-bg.jpg");
    background-size: cover;
    height: 830px;
    &_box {
      background-color: rgba(color(800), 0.9);
      padding: 50px;
      max-width: 655px;
      margin: 0 auto;
      .commonHead {
        &_title {
          margin-bottom: 30px;
        }
        p {
          color: rgba(color(50), 0.7);
        }
      }
    }
    @include media-breakpoint-down(xxl) {
      height: 630px;
      &_box {
        .commonHead {
          &_title {
            margin-bottom: 20px;
          }
        }
      }
    }
    @include media-breakpoint-down(xl) {
      height: 380px;
      &_box {
        padding: 30px;
        max-width: 500px;
        .commonHead {
          &_title {
            margin-bottom: 10px;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      &_box {
        padding: 20px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 30px;
    }
  }

  // home page
  .navbar {
    .header-logo {
      display: block;
    }
  }
  .header-logo {
    display: block;
  }
  .after-login-header {
    display: none;
  }
  .whenDate {
    .input-group-text {
      min-width: 78px;
    }
  }
  .hideLogin {
    .signUp {
      color: color(50);
      border-color: transparent;
    }
  }
  header {
    border-bottom: 0;
    background: transparent;
    z-index: 2;
    &.userLogin {
      .notification-link {
        color: color(50);
      }
    }
    &.lightHeader {
      background: color(50);
      &.userLogin {
        .notification-link {
          color: color(800);
        }
      }
      .navbar {
        .nav-link {
          color: color(800);
          &.active {
            color: color(500);
          }
          &.dropdown-toggle {
            color: color(500);
          }
        }
        .signUp {
          color: color(800);
        }
      }
    }
    .navbar {
      .nav-link {
        color: color(50);
      }
      &-toggler-icon {
        background-color: color(50);
      }
    }
    @include media-breakpoint-down(lg) {
      .navbar {
        .nav-link {
          color: color(800);
        }
      }
    }
  }

  // banner section css
  .bannerSec {
    min-height: 902px;
    max-height: 902px;
    .curve {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    &:before {
      position: absolute;
      content: "";
      left: 0;
      height: 250px;
      width: 100%;
      z-index: 1;
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 59%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 59%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 59%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 );
    }
    &:after {
      position: absolute;
      content: "";
      left: 0;
      height: 583px;
      width: 100%;
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 4%,
        rgba(0, 0, 0, 0.39) 98%,
        rgba(0, 0, 0, 0.29) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 4%,
        rgba(0, 0, 0, 0.39) 98%,
        rgba(0, 0, 0, 0.29) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 4%,
        rgba(0, 0, 0, 0.39) 98%,
        rgba(0, 0, 0, 0.29) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4a000000',GradientType=0 );
      z-index: 0;
      bottom: 0;
    }
    &_cnt {
      bottom: 100px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      h1 {
        font-size: 4.5625rem;
        color: #fffaf2;
        font-family: font(mm);
        margin-bottom: 30px;
        text-shadow: rgba($color: color(900), $alpha: 0.45) 0px 10px 20px;
      }
    }
    .searchFilter {
      border-radius: 5px;
      padding: 40px;
      background-color: transparent;
      &:after {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(27px);
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 5px;
      }
      .splash-location-pin {
        font-size: 20px;
        color: rgba(color(50), 0.6);
      }
      label {
        font-size: 1.25rem;
        color: color(50);
      }
      .input-group {
        margin-bottom: 0;
      }
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba($color: color(50), $alpha: 0.6);
        font-size: 16px;
        font-family: font(lt);
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba($color: color(50), $alpha: 0.6);
        font-size: 16px;
        font-family: font(lt);
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: rgba($color: color(50), $alpha: 0.6);
        font-size: 16px;
        font-family: font(lt);
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: rgba($color: color(50), $alpha: 0.6);
        font-size: 16px;
        font-family: font(lt);
      }
      .form-control,
      .input-group-text {
        background-color: #3a5761;
        backdrop-filter: blur(100px);
        border: none;
        color: color(50);
        height: 48px;
        font-size: 16px;
        font-family: font(lt);
      }
      .input-group-text {
        color: rgba(color(50), 0.6);
      }

      .fieldicon {
        &-first {
          .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &-secound {
          .form-control {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
      .select2.select2-container .select2-selection--single,
      .select2.select2-container .select2-selection--multiple {
        background-color: #3a5761;
        backdrop-filter: blur(100px);
        border: none;
        color: rgba($color: color(50), $alpha: 0.6);
        height: 48px;
        font-size: 16px;
        font-family: font(lt);
        border-radius: 5px;
      }
      .select2.select2-container--above {
        margin-top: 10px;
      }
      .select2-container--open .select2-dropdown--below,
      .select2-container--open .select2-dropdown--above {
        border-radius: 5px;
      }
      .select2-container--open .select2-dropdown--above {
        margin-bottom: 10px;
      }
      .select2.select2-container .select2-selection__rendered {
        font-size: 16px;
        font-family: font(lt);
        color: color(50);
      }
      .selectBoatView span.select2-dropdown.select2-dropdown--below {
        margin-top: 10px;
        border-radius: 5px;
      }
      .selectBoatView span.select2-search.select2-search--dropdown {
        display: none;
      }
      .select2-container--open
        .select2-dropdown
        .select2-results__option--highlighted,
      .select2-container--open
        .select2-dropdown
        .select2-results__option[aria-selected="true"] {
        background-color: transparent;
        color: color(500);
        font-size: 16px;
      }
      .select2-container--default .select2-results > .select2-results__options {
        padding: 20px;
        border: none;
      }
      .select2-container--open .select2-dropdown .select2-results__option {
        border: 0;
        padding: 0;
      }
      .select2-container--default
        .select2-selection--single
        .select2-selection__placeholder {
        color: rgba($color: color(50), $alpha: 0.6) !important;
      }
      .select2-container--default .select2-results > .select2-results__options {
        max-height: 100%;
        background-color: color(50);
        -webkit-box-shadow: 0px 0 20px 0 rgba(color(900), 0.12);
        box-shadow: 0px 0 20px 0 rgba(color(900), 0.12);
        border-radius: 5px;
      }
      .select2-container--open
        .select2-dropdown
        .select2-results__option:not(:last-child) {
        border-bottom: 1px solid #ebebeb;
        padding: 0 0 12px 0;
        margin-bottom: 12px;
      }
      .select2-container--open .select2-dropdown--below,
      .select2-container--open .select2-dropdown--above {
        border-color: transparent;
        border: none;
      }
      span.select2-results {
        border-radius: 5px;
      }
      @include media-breakpoint-down(lg) {
        .select2-container--default
          .select2-results
          > .select2-results__options {
          padding: 10px;
        }
        .select2-container--open
          .select2-dropdown
          .select2-results__option:not(:last-child) {
          margin-bottom: 8px;
          padding-bottom: 8px;
          font-size: 15px;
        }
      }
    }
    &_video {
      height: 900px;
      width: 100%;
      video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;
      }
    }
    @media (max-width: 1699px) {
      min-height: 842px;
      max-height: 842px;
      &_cnt {
        h1 {
          font-size: 4.2625rem;
        }
      }
    }
    @media (max-width: 1599px) {
      min-height: 700px;
      max-height: 700px;
      &_cnt {
        h1 {
          font-size: 4rem;
        }
      }
      .searchFilter {
        padding: 30px;
        .select2.select2-container .select2-selection--single,
        .select2.select2-container .select2-selection--multiple,
        .form-control,
        .input-group-text {
          height: 40px;
        }
      }
    }
    @media (max-width: 1399px) {
      min-height: 650px;
      max-height: 650px;
      &_cnt {
        h1 {
          font-size: 3.5rem;
        }
      }
      .whenDate {
        .input-group-text {
          min-width: auto;
          padding: 0 8px;
        }
      }
    }
    @include media-breakpoint-down(xl) {
      min-height: 600px;
      max-height: 600px;
      &_cnt {
        h1 {
          font-size: 3rem;
        }
      }
      .searchFilter {
        padding: 20px;
        label {
          font-size: 16px;
        }
      }
      .whenDate {
        .input-group-text {
          min-width: auto;
          padding: 0 8px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      &_cnt {
        h1 {
          font-size: 2.4rem;
        }
      }
      .searchFilter {
        label {
          font-size: 14px;
        }
      }
    }
    @include media-breakpoint-down(md) {
      min-height: 500px;
      max-height: 500px;
      &_cnt {
        bottom: 50px;
        h1 {
          font-size: 2rem;
          margin-bottom: 20px;
        }
      }
      .searchFilter {
        padding: 15px;
        &_inner {
          .whenDate {
            .fieldicon {
              width: 100%;
            }
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &_cnt {
        h1 {
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
      }
      .searchFilter {
        .form-control,
        .input-group-text,
        .select2.select2-container .select2-selection--single,
        .select2.select2-container .select2-selection--multiple {
          // height: 48px;
          font-size: 14px;
        }
      }
    }
    @media (max-width: 480px) {
      &_cnt {
        h1 {
          font-size: 1.4rem;
        }
      }
    }
  }

  .footer {
    margin-top: -113px;
    background-size: auto;
    @include media-breakpoint-down(xl) {
      margin-top: -55px;
    }
  }
}
