.profilePage {
  .reviewsTab {
    .commonTab {
      padding-bottom: 20px;
    }
  }
  .reviewsBox {
    &_heading {
      padding: 10px 15px;
      border: 1px solid color(130);
      margin-bottom: 0;
      border-bottom: 0;
      font-size: 18px;
    }
    &_body {
      border: 1px solid color(130);
      padding: 15px;
      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid color(130);
          }
        }
      }
      p {
        margin-bottom: 5px;
        word-break: break-word;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &_you {
      &_image {
        height: 76px;
        width: 76px;
        margin-right: 15px;
        border: 1px solid color(500);
        padding: 5px;
        img {
          object-fit: cover;
        }
      }
      &_cnt {
        flex: 1;
      }
    }
    &_verifi {
      &:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid color(130);
      }
      &_image {
        img {
          max-height: 70px;
        }
      }
      &_cnt {
        h5 {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
      &_link {
        a {
          border: 1px solid transparent;
          display: inline-block;
          width: 100%;
          text-align: center;
          color: color(900);
          border-radius: 60px;
          padding: 7px 21px;
          &.link-green {
            border-color: green;
            color: green;
          }
          &.link-blue {
            border-color: color(600);
            color: color(600);
          }
          &.disabled {
            pointer-events: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    .reviewsBox {
      &_verifi {
        &_image {
          img {
            max-height: 60px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .reviewsTab {
      .commonTab {
        padding-bottom: 15px;
      }
    }
    .reviewsBox {
      &_heading {
        font-size: 16px;
      }
      &_verifi {
        &:not(:last-child) {
          margin-bottom: 15px;
          padding-bottom: 15px;
        }
        &_cnt {
          h5 {
            font-size: 16px;
          }
        }
        &_link {
          a {
            font-size: 14px;
          }
        }
        &_image {
          img {
            max-height: 50px;
          }
        }
      }
      &_body {
        p {
          font-size: 14px;
        }
      }
      &_you {
        &_image {
          height: 50px;
          width: 50px;
          margin-right: 10px;
          padding: 2px;
        }
      }
    }
  }
 
  @include media-breakpoint-down(md) {
    .reviewsBox {
      &_body {
        padding: 10px;
      }
      &_you{
        &_cnt{
          a{font-size: 14px;}
        }
      }
      &_verifi {
        &_cnt {
          margin: 8px 0;
        }
      }
    }
  }
  @include media-breakpoint-down(sm){
    .reviewsBox{&_verifi_cnt{text-align: center;}}
  }
}
