.receiptPage {
  .reservation {
    font-size: 14px;
  }
  hr{border-color:color(130); opacity: 1;}
  &_date {
    h2 {
      font-size: 16px;
      font-family: font(bd);
    }
    p {
      font-size: 14px;
      span {
        font-family: font(md);
      }
    }
  }
  &_heading {
    h3 {
      font-size: 1.5rem;
      font-family: font(sm);
    }
    p {
      font-size: 14px;
      margin: 5px 0px;
    }
    span {
      font-size: 16px;
      font-family: font(md);
    }
  }
  &_cnt {
    h4 {
      font-size: 16px;
      font-family: font(bd);
      margin-bottom: 5px;
    }
    p {
      font-size: 16px;
      margin-bottom: 0px;
      color: color(150);
      line-height: 22px;
    }
    h5 {
      font-size: 16px;
      font-family: font(md);
    }
  }
  .table {
    border-color:color(130);
    tr {
      th {
        width: 50%;
        font-size: 16px;
        font-family: font(bd);
      }
      td {
        width: 50%;
        font-size: 16px;
        color: color(150);
      }
    }
  }
  @include media-breakpoint-down(xxl) {
    &_heading {
      h3 {
        font-size: 1.25rem;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &_date {
      h2 {
        margin-bottom: 5px;
      }
    }
    &_heading {
      h3 {
        font-size: 18px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    hr {
      margin: 10px 0;
    }
    .table {
      tr {
        th {
          font-size: 14px;
        }
        td {
          font-size: 14px;
        }
      }
    }
    &_date {
      h2 {
        font-size: 15px;
      }
      p {
        margin-bottom: 10px;
      }
    }
    &_cnt {
      h4 {
        font-size: 15px;
        margin-bottom: 2px;
      }
      p {
        font-size: 14px;
      }
    }
    &_heading {
      span {
        font-size: 14px;
      }
    }
  }
}
