.whybecomePage {
  .commonHead {
    p {
      max-width: 770px;
      margin: 0 auto;
    }
  }
  .boatersSec {
    background-image: url("#{$imageurl}/boat-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    background-position: center center;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: color(900), $alpha: 0.6);
      z-index: 0;
    }
    &_cnt {
      z-index: 1;
      left: 0;
      right: 0;
      @include absolutecenter(y);
      text-align: center;
      h1 {
        font-size: 4.5625rem;
        text-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px;
        color: #fffaf2;
      }
      p {
        font-size: 18px;
      }
    }
    .curve {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }
  .freeToListSec {
    &_info {
      margin: auto;
      padding: 30px;
      height: 100%;
      @include box-shadow(0, 0, 15px, rgba(color(900), 0.1));
      border-radius: 10px;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 18px;
      }
    }
    .commonHead {
      h6 {
        font-size: 18px;
        margin-top: 15px;
      }
    }
  }
  .inventorySec {
    background-color: #f7f7ff;
  }
  .inventorySec,
  .evaluateSec {
    .commonHead {
      &_title {
        span {
          color: color(400);
        }
      }
    }
  }
  .reviewSec {
    &_box {
      max-width: 750px;
      margin: 70px auto auto;
    }
    &_info {
      @include box-shadow(0, 0, 15px, rgba(color(900), 0.1));
      padding: 50px 30px 30px;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 18px;
      }
      em {
        font-size: 30px;
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        text-align: center;
        width: 65px;
        height: 65px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color(50);
        border-radius: 50%;
        border: 1px solid color(800);
        @include box-shadow(0, 0, 15px, rgba(color(900), 0.1));
      }
    }
  }
  .rentalSec {
    background-color: color(800);
    background-image: url("#{$imageurl}/most-viewed-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    &_box {
      max-width: 1000px;
      margin: auto;
      &_item {
        text-align: center;
        padding: 20px 50px;
        @include transition(0.5s);
        border-radius: 5px;
        border: 2px solid #212121;
        h4 {
          font-size: 1.5rem;
        }
        p {
          font-size: 18px;
        }
        &:hover {
          transform: translateY(-6px);
          border: 2px solid color(600);
          @include box-shadow(
            0,
            3px,
            20px,
            rgba($color: color(900), $alpha: 0.08)
          );
          background-color: color(600);
          .icon {
            background-color: color(50);
            color: color(600);
          }
        }
      }
    }
    .icon {
      background-color: #2e3192;
      width: 90px;
      height: 90px;
      border: 5px solid color(50);
      border-radius: 50px;
      color: color(50);
      @include box-shadow(0, 3px, 20px, rgba(color(900), 0.08));
      margin: 0 auto 15px;
      font-size: 45px;
    }
  }
  @media (min-width: 1700px) {
    .footer {
      margin-top: -113px;
      background-size: auto;
    }
  }

  .signUpBtn {
    margin-top: 25px;
    min-width: 180px;
    @include media-breakpoint-down(xl) {
      min-width: 120px;
    }
    @include media-breakpoint-down(sm) {
      min-width: 100px;
    }
  }
  @media (max-width: 1599px) {
    .boatersSec {
      min-height: 550px;
      &_cnt {
        h1 {
          font-size: 4rem;
        }
      }
    }
  }
  @media (max-width: 1399px) {
    .commonHead {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .boatersSec {
      min-height: 500px;
      &_cnt {
        h1 {
          font-size: 3.5rem;
        }
      }
    }
    .freeToListSec {
      &_info {
        padding: 20px;
        h3 {
          font-size: 1.25rem;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .reviewSec {
      &_info {
        h3 {
          font-size: 1.25rem;
        }
        p {
          font-size: 16px;
        }
      }
    }
    .rentalSec {
      &_box {
        &_item {
          padding: 20px 30px;
          p {
            font-size: 16px;
          }
          h4 {
            font-size: 1.25rem;
          }
        }
      }
      .icon {
        width: 80px;
        height: 80px;
        font-size: 35px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    .boatersSec {
      min-height: 400px;
      &_cnt {
        h1 {
          font-size: 3rem;
        }
      }
    }
    .rentalSec {
      .icon {
        width: 70px;
        height: 70px;
        font-size: 26px;
      }
      &_box {
        &_item {
          padding: 20px;
        }
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .boatersSec {
      &_cnt {
        h1 {
          font-size: 2.4rem;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .boatersSec {
      &_cnt {
        h1 {
          font-size: 2rem;
        }
      }
    }
    .freeToListSec {
      .commonHead {
        h6 {
          font-size: 16px;
          margin-top: 10px;
        }
      }
      &_info {
        padding: 15px;
        h3 {
          font-size: 18px;
        }
      }
    }
    .reviewSec {
      &_box {
        margin-top: 50px;
      }
      &_info {
        padding: 50px 15px 15px;
        h3 {
          font-size: 18px;
        }
      }
    }
    .rentalSec {
      .icon {
        width: 60px;
        height: 60px;
        font-size: 20px;
        border-width: 3px;
      }
      &_box {
        &_item {
          padding: 15px;
          h4 {
            font-size: 18px;
          }
        }
      }
    }
    .signUpBtn {
      margin-top: 15px;
    }
  }
  @include media-breakpoint-down(sm) {
    .boatersSec {
      min-height: 350px;
      &_cnt {
        h1 {
          font-size: 1.8rem;
        }
      }
    }
    .reviewSec {
      &_box {
        margin-top: 20px;
      }
      &_info {
        padding: 15px;
        text-align: center;
        em {
          top: 0;
          position: inherit;
          margin-bottom: 10px;
          width: 50px;
          height: 50px;
          font-size: 22px;
        }
      }
    }
    .freeToListSec {
      &_info {
        text-align: center;
      }
    }
  }
}
