.yourReservations {
  .timeline {
    padding-top: 30px;
    &Row {
      border-left: 1px dashed color(500);
      padding-left: 30px;
      margin-left: 60px;
      position: relative;
      &:not(:last-child) {
        padding-bottom: 30px;
      }
      &:before {
        position: absolute;
        left: -10px;
        top: -5px;
        content: " ";
        border: 6px solid rgba(255, 255, 255, 0.74);
        border-radius: 500%;
        background: color(500);
        height: 20px;
        width: 20px;
        transition: all 500ms ease-in-out;
      }
      &_date {
        position: absolute;
        left: -6%;
        font-size: 14px;
        width: 45px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .tab {
      .nav-link {
        width: 50%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .tab {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-bottom: 5px;
      .nav-link {
        width: 100%;
        white-space: nowrap;
      }
    }
  }
}
